.at-post {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    &__thumbnail {
        margin-bottom: 11px;
        img {
            transition: 0.3s cubic-bezier(0.39, 0.08, 0.72, 1.15);
        }
    }
    &__badges {
        margin-bottom: 7px;
        a {
            padding: 3px 6px;
            border-radius: 100px;
            font-size: 11px;
            line-height: 11px;
            background: $color-brand;
            color: $color-base;
            display: inline-block;
            margin-right: 3px;
            &:hover {
                color: $color-base;
            }
        }
    }
    &__title {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 3px;
        a {
            color: $color-primary;
            &:hover {
                color: $link-active;
            }
        }
    }
    &__meta {
        margin-bottom: 10px;
        margin-left: -7px;
        margin-right: -7px;
        line-height: 1em;
        &-item {
            color: $color-third;
            font-size: 12px;
            padding-left: 7px;
            padding-right: 7px;
            position: relative;
            i {
                margin-right: 5px;
            }
            &:hover {
                color: $color-second;
            }
            &:before {
                content: "";
                position: absolute;
                right: -4px;
                top: 2px;
                bottom: 2px;
                width: 2px;
                background: $border-color;
            }
            &:last-child {
                &:before {
                    display: none;
                }
            }
        }
    }
    &__content {
        color: $color-second;
        margin-bottom: 8px;
        margin-bottom: 20px;
    }
    &__readmore {
        font-size: 12px;
        padding: 5px 8px;
        color: $color-second;
        background: transparent;
        border: 1px solid $border-color;
        &:hover,
        &:focus {
            background: transparent;
            border: 1px solid $color-brand;
            color: $color-brand;
        }
    }
}

.at-post--list,
.at-post--grid {
    .at-post__badges {
        position: absolute;
        top: 5px;
        left: 5px;
    }
}

/*=================================================
*  POST LIST
=================================================== */

.at-post--list {
    display: flex;
    flex-wrap: wrap;
    .at-post {
        &__thumbnail {
            width: 100px;
            margin-bottom: 0;
            @include media-min(sm) {
                width: 230px;
            }
            @include media-min(lg) {
                width: 320px;
            }
        }
        &__body {
            flex: 1;
            padding-left: 7px;
            padding-right: 7px;
            @include media-min(sm) {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        &__title {
            @include media(md) {
                font-size: 18px;
                line-height: 1.3em;
            }
            @include media(sm) {
                font-size: 14px;
                line-height: 1.3em;
            }
        }
        &__content {
            @include media(sm) {
                display: none;
            }
        }
        &__readmore {
            @include media(sm) {
                display: none;
            }
        }
    }
}

/*=================================================
*  POST LIST SM
=================================================== */

.at-post--list-small {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    .at-post {
        &__title {
            margin-bottom: 3px;
            margin-top: 0;
            font-size: 14px;
            line-height: 1.5;
        }
        &__thumbnail {
            width: 100px;
            margin-bottom: 0;
            margin-right: 10px;
            img {
                width: 100%;
            }
        }
        &__body {
            flex: 1;
        }
    }
}

/*=================================================
* POST TITLES
/*================================================= */

.at-post--tiles {
    position: relative;
    &:before {
        z-index: 1;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient( to bottom, rgba(50, 50, 50, 0) 0, rgba(16, 15, 15, 0.91) 89%, rgba(22, 12, 12, 0.93) 93%);
    }
    .at-post {
        &__title {
            font-size: 18px;
            a {
                color: $color-base;
            }
        }
        &__meta {
            margin-bottom: 0;
            &-item {
                color: $color-light-second;
                &:before {
                    background: $color-light-thirdty;
                }
            }
        }
        &__content {
            color: $color-light-second;
        }
        &__thumbnail {
            height: 242px;
            margin-bottom: 0;
            background-position: center center;
            background-size: cover;
            transition: 0.3s cubic-bezier(0.39, 0.08, 0.72, 1.15);
        }
        &__body {
            z-index: 1;
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 15px;
        }
    }
    &:hover {
        .at-post {
            &__thumbnail {
                transform: scale(1.3);
            }
        }
    }
}

/*=================================================
* CARD
/*================================================= */

.at-post--card {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    overflow: hidden;
    .at-post {
        &__thumbnail {
            margin: 0;
        }
        &__body {
            padding: 20px 15px;
        }
    }
}

/*=================================================
* POST SMART TILES
/*================================================= */

$post-grid-height: 489px;
$post-grid-gap: 2px;
.at-smart-tiles {
    @include media-min(sm) {
        display: flex;
        flex-flow: row wrap;
    }
    margin-left: -$post-grid-gap/2;
    margin-right: -$post-grid-gap/2;
    .flex-item {
        padding-left: $post-grid-gap/2;
        padding-right: $post-grid-gap/2;
        margin-bottom: $post-grid-gap;
        flex: auto;
    }
    &__main {
        @include media-min(sm) {
            flex: 0 0 50%;
            max-width: 50%;
        }
        .at-post__thumbnail {
            height: $post-grid-height + $post-grid-gap;
        }
        .at-post__title {
            font-size: 27px;
            line-height: 1.3em;
        }
    }
    &__group {
        @include media-min(sm) {
            flex: 0 0 50%;
            max-width: 50%;
            display: flex;
            flex-flow: row wrap;
        }
        .flex-item {
            @include media-min(sm) {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
        .at-post__thumbnail {
            height: $post-grid-height/2;
        }
    }
}

/*=================================================;
/* POST BLOCK
/*================================================= */

.at-post-block {
    .flex-item {
        margin-bottom: 0;
    }
    &__main {
        .flex-item {
            margin-bottom: 30px;
        }
    }
    &__group {
        .at-post__meta {
            margin-bottom: 0;
        }
    }
}

.at-post-block--tiles {
    .at-post--tiles {
        .at-post__thumbnail {
            height: 390px;
        }
    }
}