/*=================================================
*  GRID
=================================================== */
/*=================================================
*  BREAKPOINTS
=================================================== */
/*=================================================
*  CONTAINERS
=================================================== */
/*=================================================
*  FONT
=================================================== */
/* Font Weight */
/* Font Color*/
/* Font Color light */
/* Font Size */
/*=================================================
*  Default Color
=================================================== */
/*=================================================
*  Link Color
=================================================== */
/*=================================================
*  GRAY
=================================================== */
/*=================================================
*  DARK
=================================================== */
/*=================================================
*  BORDER
=================================================== */
/*=================================================
*  SOCIAL MEDIA
=================================================== */
/*=================================================
*  SHAWDOW
=================================================== */
/*=================================================;
/* BUTTON
/*================================================= */
/*=================================================;
/* BADGES
/*================================================= */
/*=================================================;
/* PAGINATION
/*================================================= */
/*=================================================
*  NAVBAR
=================================================== */
/*=================================================
*  SUBMENU LG
=================================================== */
/*=================================================
*  NAVBAR SMALL
=================================================== */
/*=================================================
*  NAVBAR FULL
=================================================== */
/*=================================================
*  NAVBAR SEARCH
=================================================== */
/*=======================================
* MEDIA MAX
*=======================================*/
/*=======================================
* MEDIA MIN
*=======================================*/
/*=======================================
* MEDIA ONLY
*=======================================*/
/*=======================================
* MEDIA RANGE
*=======================================*/
/*=======================================
* MANUAL BREAKPOINT
*=======================================*/
/*=================================================
*  GRID MIXIN
=================================================== */
/*=================================================
*  LINK MIXIN
=================================================== */
.at-post {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  overflow: hidden; }
  .at-post__thumbnail {
    margin-bottom: 11px; }
    .at-post__thumbnail img {
      -webkit-transition: 0.3s cubic-bezier(0.39, 0.08, 0.72, 1.15);
      transition: 0.3s cubic-bezier(0.39, 0.08, 0.72, 1.15); }
  .at-post__badges {
    margin-bottom: 7px; }
    .at-post__badges a {
      padding: 3px 6px;
      border-radius: 100px;
      font-size: 11px;
      line-height: 11px;
      background: #007bff;
      color: #fff;
      display: inline-block;
      margin-right: 3px; }
      .at-post__badges a:hover {
        color: #fff; }
  .at-post__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 3px; }
    .at-post__title a {
      color: #252525; }
      .at-post__title a:hover {
        color: #3483de; }
  .at-post__meta {
    margin-bottom: 10px;
    margin-left: -7px;
    margin-right: -7px;
    line-height: 1em; }
    .at-post__meta-item {
      color: #555;
      font-size: 12px;
      padding-left: 7px;
      padding-right: 7px;
      position: relative; }
      .at-post__meta-item i {
        margin-right: 5px; }
      .at-post__meta-item:hover {
        color: #333; }
      .at-post__meta-item:before {
        content: "";
        position: absolute;
        right: -4px;
        top: 2px;
        bottom: 2px;
        width: 2px;
        background: #e4e7ec; }
      .at-post__meta-item:last-child:before {
        display: none; }
  .at-post__content {
    color: #333;
    margin-bottom: 8px;
    margin-bottom: 20px; }
  .at-post__readmore {
    font-size: 12px;
    padding: 5px 8px;
    color: #333;
    background: transparent;
    border: 1px solid #e4e7ec; }
    .at-post__readmore:hover, .at-post__readmore:focus {
      background: transparent;
      border: 1px solid #007bff;
      color: #007bff; }

.at-post--list .at-post__badges,
.at-post--grid .at-post__badges {
  position: absolute;
  top: 5px;
  left: 5px; }

/*=================================================
*  POST LIST
=================================================== */
.at-post--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .at-post--list .at-post__thumbnail {
    width: 100px;
    margin-bottom: 0; }
    @media screen and (min-width: 576px) {
      .at-post--list .at-post__thumbnail {
        width: 230px; } }
    @media screen and (min-width: 992px) {
      .at-post--list .at-post__thumbnail {
        width: 320px; } }
  .at-post--list .at-post__body {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-left: 7px;
    padding-right: 7px; }
    @media screen and (min-width: 576px) {
      .at-post--list .at-post__body {
        padding-left: 15px;
        padding-right: 15px; } }
  @media screen and (max-width: 768px) {
    .at-post--list .at-post__title {
      font-size: 18px;
      line-height: 1.3em; } }
  @media screen and (max-width: 576px) {
    .at-post--list .at-post__title {
      font-size: 14px;
      line-height: 1.3em; } }
  @media screen and (max-width: 576px) {
    .at-post--list .at-post__content {
      display: none; } }
  @media screen and (max-width: 576px) {
    .at-post--list .at-post__readmore {
      display: none; } }

/*=================================================
*  POST LIST SM
=================================================== */
.at-post--list-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px; }
  .at-post--list-small .at-post__title {
    margin-bottom: 3px;
    margin-top: 0;
    font-size: 14px;
    line-height: 1.5; }
  .at-post--list-small .at-post__thumbnail {
    width: 100px;
    margin-bottom: 0;
    margin-right: 10px; }
    .at-post--list-small .at-post__thumbnail img {
      width: 100%; }
  .at-post--list-small .at-post__body {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }

/*=================================================
* POST TITLES
/*================================================= */
.at-post--tiles {
  position: relative; }
  .at-post--tiles:before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -webkit-linear-gradient(top, rgba(50, 50, 50, 0) 0, rgba(16, 15, 15, 0.91) 89%, rgba(22, 12, 12, 0.93) 93%);
    background: linear-gradient(to bottom, rgba(50, 50, 50, 0) 0, rgba(16, 15, 15, 0.91) 89%, rgba(22, 12, 12, 0.93) 93%); }
  .at-post--tiles .at-post__title {
    font-size: 18px; }
    .at-post--tiles .at-post__title a {
      color: #fff; }
  .at-post--tiles .at-post__meta {
    margin-bottom: 0; }
    .at-post--tiles .at-post__meta-item {
      color: rgba(255, 255, 255, 0.6); }
      .at-post--tiles .at-post__meta-item:before {
        background: rgba(255, 255, 255, 0.28); }
  .at-post--tiles .at-post__content {
    color: rgba(255, 255, 255, 0.6); }
  .at-post--tiles .at-post__thumbnail {
    height: 242px;
    margin-bottom: 0;
    background-position: center center;
    background-size: cover;
    -webkit-transition: 0.3s cubic-bezier(0.39, 0.08, 0.72, 1.15);
    transition: 0.3s cubic-bezier(0.39, 0.08, 0.72, 1.15); }
  .at-post--tiles .at-post__body {
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 15px; }
  .at-post--tiles:hover .at-post__thumbnail {
    -webkit-transform: scale(1.3);
            transform: scale(1.3); }

/*=================================================
* CARD
/*================================================= */
.at-post--card {
  border: 1px solid #e4e7ec;
  border-radius: 3px;
  overflow: hidden; }
  .at-post--card .at-post__thumbnail {
    margin: 0; }
  .at-post--card .at-post__body {
    padding: 20px 15px; }

/*=================================================
* POST SMART TILES
/*================================================= */
.at-smart-tiles {
  margin-left: -1px;
  margin-right: -1px; }
  @media screen and (min-width: 576px) {
    .at-smart-tiles {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap; } }
  .at-smart-tiles .flex-item {
    padding-left: 1px;
    padding-right: 1px;
    margin-bottom: 2px;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto; }
  @media screen and (min-width: 576px) {
    .at-smart-tiles__main {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%;
      max-width: 50%; } }
  .at-smart-tiles__main .at-post__thumbnail {
    height: 491px; }
  .at-smart-tiles__main .at-post__title {
    font-size: 27px;
    line-height: 1.3em; }
  @media screen and (min-width: 576px) {
    .at-smart-tiles__group {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%;
      max-width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap; } }
  @media screen and (min-width: 576px) {
    .at-smart-tiles__group .flex-item {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%;
      max-width: 50%; } }
  .at-smart-tiles__group .at-post__thumbnail {
    height: 244.5px; }

/*=================================================;
/* POST BLOCK
/*================================================= */
.at-post-block .flex-item {
  margin-bottom: 0; }

.at-post-block__main .flex-item {
  margin-bottom: 30px; }

.at-post-block__group .at-post__meta {
  margin-bottom: 0; }

.at-post-block--tiles .at-post--tiles .at-post__thumbnail {
  height: 390px; }
